.content{
    min-height: calc(100vh - 90px);
}
.article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.555);
    height: auto;
}
.article h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    padding: 5px;
}
.article p{
    font-weight: lighter;
}

.zone-text{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 600px;
    height: auto;
    font-weight: bold;
}
h2{
    text-align: center;
    padding: 20px;
}
.div-photo > img{
    border-radius: 15px;
    width: 250px;
    height: auto;
    

}
.zone-icon{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.555);

}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
      text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 25%;
    background-color: rgba(252, 192, 82, 0.932);
    margin: 0 10px;
  }
  /* .card {
     
      justify-content: center;
      text-align: center;
      width: 250px;
      height: auto;
  } */
  .card h4{
      font-size: 25px;
      
  }
  .card p{
      font-weight: lighter;
      color: white;
      text-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
  }
.card:hover {
    box-shadow: 0 8px 16px 0 grey;
  }
  
.card  img {

    height: 100px;
    margin: 0 auto;
  }

  
.container {
    padding: 2px 16px;
  }
.zone-iconing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    height: 500px;
}
.new1{

    border: 2px solid rgba(252, 192, 82, 0.932);
    width: 500px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.zone-iconing h2{

    text-align: center;
}
.iconing{
    display: flex;
    background-color: rgba(245, 245, 245, 0.658);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 350px;
    height: 300px;

}
.iconing h3{
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    align-items: center;
    color: black;
    padding: 2px;
    
}

.iconing > img{
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    width: 220px;
    height: 250px;
    
}
.iconing > p{
    text-align: center;
    padding-top: 10px;
    font-weight: lighter;
    font-size: 20px;
}
.hotel {
        display: flex;
        justify-content: space-evenly;
        padding: 25px;
        background-color: rgba(252, 192, 82, 0.932);
}